<!DOCTYPE html>
<html>
<head>
    <title>Sunshine and Sprout Daycare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/calendar.css' />
</head>
<script src="/socket.io/socket.io.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/javascripts/jquery-ui-1.12.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">

//    var socket = io.connect("http://192.168.3.148:8080");
    var nm = '<%=nname%>';
    var grd = '<%=grade%>';
//    socket.emit('joinroom',{room:'map', nickname:nm, grade: grd});
//
//    socket.on('notify', function (data) {
//        $('#msg').text(data.msg + " is on way.");
//        $('#notify').attr({'style':'display:block;background-color:#eaee9a'});
//        socket.emit('location', data);
//    });

    var row_even = true;
    var smonths = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nob','Dec'];

    $(document).ready(function() {

        var onmywayDown = false;
        $("#word").width($("#search").width()-40);

        function onmyway(){
            if (!onmywayDown){
                onmywayDown = true;
                $('#btnOnMyWay').attr({'style': 'background-image : url("/images/myway1.png")'})
            }else{
                onmywayDown = false;
                $('#btnOnMyWay').attr({'style': 'background-image  : url("/images/myway.png")'})
            }

//            socket.emit('notify', { msg: nm});
            location.href="/map";
            return true;
        }

        function hide(){
            $('#notify').attr({'style':'display:none'});
        }

        var currentmonth = new Date();
        var cc = new Date();

        function datesinMonth(vdate){
            var first = new Date(vdate.getFullYear(), vdate.getMonth(), 1, 0, 0, 0, 0);
            var next =  new Date(vdate.getFullYear(), vdate.getMonth(), 1, 0, 0, 0, 0);
            next.setMonth(next.getMonth()+1);

            var diff = (next - first)/ 24 / 3600 / 1000;
            return diff ;
        }

        function loadCalendar(vdate){
            var year = vdate.getFullYear();
            var month = vdate.getMonth();
            var today = vdate.getDate();

            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

            $("#smonth").html(months[month]);

            var first = new Date(year, month, 1, 0, 0, 0, 0);
            var firstday = first.getDay();

            if (firstday > 0) {
                first.setDate(-firstday+1);
            }

            var days = datesinMonth(vdate);
            var cells = days + firstday;
//            alert(cells);
            var weeks = 5;
            if (cells % 7 > 0){
                weeks = (cells-cells % 7)/7 + 1;
            }else{
                weeks = cells / 7;
            }
            cells = weeks * 7;
            $(".days").empty();
            for (i = 0; i < cells; i++) {
                var date = first.getDate();
                var id = (first.getMonth()+1) + '-' + first.getDate();

                if(cc.toDateString() == first.toDateString()){
                    $(".days").append('<li><div id="today">' + date + "<div></li>");
                }else if(i < firstday || i >= (firstday + days)) {
                    $(".days").append('<li><div class="prevday"' + ' id="'+ id + '">' + date + "</div></li>");
                }else{
                    $(".days").append('<li><div id="' + id + '">' + date + "</div></li>");
                }
                first.setDate(date + 1);
            }
            $("#today").attr({"style" : "background: none; border:2px solid #fb9528;padding:5 0 0 0;"});//ea7b04
//            $("#today").attr({"style" : "background: #5193bf; color: white !important"});//ea7b04
            $(".prevday").attr({"style" : "color:#8acf98"});

            if(weeks == 5){
                $('#div-list').attr({"style" : "padding-top:340px"});
            }else{
                $('#div-list').attr({"style" : "padding-top:360px"});
            }
        }

        function loadEvent(vdate){
            var year = vdate.getFullYear();
            var month = vdate.getMonth();

            var first = new Date(year, month, 1, 0, 0, 0, 0);
            var firstday = first.getDay();

            if (firstday > 0) {
                first.setDate(-firstday+1);
            }

            var days = datesinMonth(vdate);
            var cells = days + firstday;

            if (cells * 7 > 0){
                cells = ((cells - cells % 7)/7 + 1) * 7;
            }

            var lastday = new Date(first);
            lastday.setDate(lastday.getDate() + cells);

            var sfirst = first.getFullYear() + '-' + (first.getMonth()+1) + '-' + first.getDate();
            var slast = lastday.getFullYear() + '-' + (lastday.getMonth()+1) + '-' + lastday.getDate();

            var surl = "/get-event?firstday=" + sfirst + "&lastday="+slast;

            $(".event-list").empty();

            $.ajax({
                url : surl,  dataType:"JSON", // option
                success : function(data) {
                    for(i=0; i<data.length - 1;i++){
                        var flag = 0;
                        var stime = data[i].mtime, sdate = data[i].mdate;
                        var scont = data[i].event, snote = data[i].note;
                        var sd = "";

                        if( sdate != undefined) {
                            var ss = new Date(sdate);
                            if (ss.getMonth() != month) flag = 1;
                            sd = (ss.getMonth() + 1) + '-' + ss.getDate();
                        }

                        if( stime != undefined) {
                            if (stime == '00:00:00') stime = 'All Day';
                        }

                        if(scont == undefined) scont = "";
                        if(snote == undefined) snote = "";

                        add_event(sdate, stime, scont, snote, flag, i);
                        $('#'+sd).attr({'style': 'background-color:#f4777c;color:white;'})
                    }
                },
                error : function(xhr, status, error) { console.log(error); }
            });
        }

        $(window).load(function () {
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        });

        $(".prev").click(function(){
            currentmonth.setMonth(currentmonth.getMonth() - 1);
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        })

        $(".next").click(function(){
            currentmonth.setMonth(currentmonth.getMonth() + 1);
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        })

        function add_event(sdate, stime, scont, snote, flag, id){
            var shortMonth = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
            var sday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
            var ss = sdate.split('-');
            var nn = new Date(sdate);
            var day = nn.getDay();
            var dd = nn.getDate();
            var yy = ss[0], mm = ss[1]*1 - 1;
            var smm = shortMonth[mm];
            var sst = sday[day] + " " + stime;
            var sdd = '<span style="font-size:16px">' + dd +'</span>';
            if (flag ) sdd = '<span style="font-size:16px">' + smm + ' ' + dd + '</span>';

            var bgcolor = '';

            if(row_even) bgcolor = '#5292be'; else bgcolor = '#7bbfe9';

            row_even = !row_even;

            var row = '<div style="background-color:' + bgcolor + ';">' +
                    '<div id="collapseBtn'+id+'" class="row btn visible-xs-block visible-sm-block"  data-toggle="collapse" data-target="#collapse-'+id+'">'+
                     // date
                    '<div class="col-sm-2 col-xs-3">' + sdd + '</div>' +
                     // event
                    '<div class="col-sm-8 col-xs-7">'+
                    '<span style="font-size:16px">' + scont +'</span><br>' +
                    '<span style="font-size:12px">' + sst +'</span>' +
                    '</div>' +
                     // arrow icon
                    '<div class="col-sm-2 col-xs-2">' +
                    '<i class="fa fa-caret-right" style="font-size:36px"></i>'+
                    '</div>' +
                    '</div>' +
                     // event note
                    '<div class="collapse" id="collapse-'+id+'">'+ snote +
                        '<span style="width:100%;">Note : Note for Test</span>'+
                    '</div>'

            $(".event-list").append(row);

            $("#collapseBtn"+id).on("click", function(){
                var arrow = $(this).find("i");
                if(arrow.attr("class") == "fa fa-caret-right") {
                    arrow.attr("class","fa fa-caret-down");
                }else{
                    arrow.attr("class","fa fa-caret-right");
                }
            })
        }
        // Error
        var error_dialog = $( "#error-dialog" ).dialog({
            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Close": function(){ error_dialog.dialog( "close" );}
            },
            close: function() {
                error_form[0].reset();
                //food_Fields.removeClass( "ui-state-error" );
            }
        });

        var error_form = error_dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
        });
        // when click <Search>
        $("#btnsearch").click(function(){
            var key = $("#word").val();
            if (key == ""){
                error_dialog.dialog( "open" );
                return;
            }

            $.ajax({
                url : "/search-event?key=" + key,
                dataType:"JSON", // option
                success : function(data) {
                    console.log(data);
                    $(".event-list").empty();
                    for(var i=0; i < data.length; i++){
                        var flag = 1;
                        var stime = data[i].mtime;
                        var sdate = data[i].mdate;
                        var scont = data[i].event;
                        var snote = data[i].note;
                        var sd = "";

//                        var contents = "";
                        if( sdate != undefined) {
                            var ss = new Date(sdate);
//                            if (ss.getMonth() != month) flag = 1;
                            sd = (ss.getMonth() + 1) + '-' + ss.getDate();
                        }

                        if( stime != undefined) {
                            if (stime == '00:00:00') stime = 'All Day';
                        }

                        if(scont == undefined) scont = "";
                        if(snote == undefined) snote = "";

                        add_event(sdate, stime, scont, snote, flag)
                        //$('#'+sd).attr({'style': 'background-color:#8db4ce;color:white;padding:0px 5px;'})
                    }
                },
                error : function(xhr, status, error) {
                    alert("error");
                }
            });
        })

    });
</script>

<body >
<div class="container">
<!-- Form to add Note  -->
<div id="error-dialog" title="Information" style="display: none;z-index: 9999;">
    <form>
        <fieldset>
            <p class="validateTips">Please Input a Keyword.</p>
            <!--<input type="time" id="timer" style="width:240px; height:40px;" value="" class="ui-widget-content ui-corner-all">-->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div id="div-head">
    <div id="div-title">

        <ul class="nav">
            <li class="nav-item" id="home"><a href="/dashboard"><img src="/images/backbtn2.png" style="width:30px;height:30px;"></a></li>
            <li class="nav-item" id="new"><a href="/event-setting"><img src="/images/plus.png"></a></li>
            <li class="nav-item" id="search">
                <div id="searchbox">
                    <input type="text" id="word">
                    <img id="btnsearch" src="/images/magnifier.png" style="float:right">
                </div>

                <!--<img id="btnsearch" src="/images/search-a.png">-->
            </li>
        </ul>
    </div>

    <div class="month">
        <ul>
            <li class="prev"><i class="fa fa-angle-left" style="font-size:30px;color:#42b15b"></i></li>
            <li class="next"><i class="fa fa-angle-right" style="font-size:30px;color:#42b15b"></i></li>
            <li id="smonth" >  </li>
        </ul>
    </div>

    <div  id="div-calendar" class ="div-calendar">
        <ul class="weekdays">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>

        <ul class="days"></ul>
    </div>

    <div id="notify" style="display: none;width:100%; height:250px;background-color:#00b7ff;">
        <br>
        <h3 style="text-align: center" id="msg"></h3>
        <button onclick="hide();" style="width:20%;height:30px;margin-left: 40%;">Close</button>
        <br>
    </div>
</div>

<div id="div-list">
    <!--<table class="event-list"></table>-->
    <div class="event-list"></div>

</div>

</div>
</body>

</html>
