<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daycare</title>

    <link rel='stylesheet' type="text/css" href='/stylesheets/chatting.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body >
    <div id="div-head">
        <h2 style="text-align:center">Welcome to <%= room %></h2>
        <div style="width:100%; height:35px;">
            <div id="homebtn" onclick="location.href='/dashboard'" > </div>

            <div id="div-to" style="height:30px; width:30%; float:left;margin-left:10px">
                <select id="to" style="height:30px; width:100%">
                    <option value="ALL">ALL</option>
                </select>
            </div>

            <div style="float:left;width:40%;margin-left:10px">
                <select id="during" style="height: 30px;width:100%;display: inline-block;">
                    <option value="">Review</option>
                    <option value="1week">~ 7 days ago</option>
                    <option value="2week">8 days ago ~ 14 days ago</option>
                    <option value="3week">15 days ago ~ 21 days ago</option>
                    <option value="4week">22 days ago ~ 30 days ago</option>
                </select>
            </div>
        </div>
    </div>

    <div id="div-main" >
        <textarea id="msgs"></textarea>
    </div>

    <div id="div-bottom">
        <textarea id="msgbox" rows="3" style="width:100%;"></textarea>
    </div>

    <script type="text/javascript">
        var socket = io.connect("http://localhost:8080");
        var nm = '<%=nname%>';
        var rm = '<%=room%>';

        socket.emit('joinroom',{room:rm, nickname:nm});
        socket.emit('joinroom',{room:'map', nickname:nm});

        $(document).ready(function() {
            //=========  notify code
            socket.on('notify', function (data) {
                $('#msgs').append("      Notification\n");
                $('#msgs').append(data.msg  + " is on way.\n");
//                $('#msg').text(data.msg + " is on way.");
//                $('#notify').attr({'style':'display:block;background-color:#eaee9a;z-index:999'});
                socket.emit('location', data);
            });

            function hide(){
                $('#notify').attr({'style':'display:none'});
            }

            //=========  chatting code
            $("#during").change(function () {
                if($('#during').val() != ''){
                    $('#msgs').empty();
                    socket.emit('select_during', {during: $('#during').val(),room:rm, nickname:nm});
                }
            });

            $("#msgbox").keyup(function (event) {
                if (event.which == 13) {
                    var d = new Date();
                    var sdate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                    var stime = d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
                    var txt = $('#msgbox').val().slice(0,-1) + "(" + sdate + " " + stime + ")\n";
                    socket.emit('send_msg', {to: $('#to').val(), msg: txt});
                    $('#msgbox').val('');
                }
            });

            socket.on('new', function (data) {
                console.log(data.nickname);
                $('#nickname').val(data.nickname);
            });

            // when new user enter or user change name, change <To> list
            socket.on('userlist', function (data) {
                var users = data.users;
                console.log(users);
                console.log(data.users.length);
                $('#to').empty().append('<option value="ALL">ALL</option>');
                for (var i = 0; i < data.users.length; i++) {
                    $('#to').append('<option value="' + users[i] + '">' + users[i] + '</option>');
                }
            });

            socket.on('broadcast_msg', function (data) {
                console.log(data.msg);
                $('#msgs').append(data.msg );
            });
        })
    </script>
</body>
</html>