<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/dashboard.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="div-body">
        <h2>DashBoard</h2>
        <div id="div-head">
            <button id="btnSetting" onclick="location.href='';">Setting</button>
        </div>
        <br>

        <div id="div-main">
            <div id="row1">
                <button id="btnOnMyWay" onclick="location.href='';">On MyWay</button>
                <button id="btnTimeLine" onclick="location.href='';">TimeLine</button>
            </div>
            <div id="row2">
                <button id="btnMessanger" onclick="location.href='';">Messanger</button>
                <button id="btnCalender" onclick="location.href='';">Calendar</button>
            </div>
        </div>
        <br>
    </div>
    <div id="div-foot">
        <button id="btnProfile" onclick="location.href='';">Profile</button>
        <button id="btnReport" onclick="location.href='';">Report</button>
        <button id="btnPhoneCall" onclick="location.href='';">PhoneCall</button>
    </div>

</body>
</html>