<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/dashboard.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
    function check(){
    }
</script>
<body onload="check()">
<!--<body >-->
    <div id="div-body">
        <!--<div id="div-settingbtn" class="float:right;">-->
            <!--&lt;!&ndash;<button id="btnSetting" onclick="location.href='';">Setting</button>&ndash;&gt;-->
        <!--</div>-->
        <!--<div id="div-head" class="float:right;">-->
            <!--&lt;!&ndash;<div><h2 class="align:center;">DashBoard</h2></div>&ndash;&gt;-->
        <!--</div>-->
        <!--<br>-->

        <div id="div-main">
            <div id="row1" >
                <button id="btnOnMyWay" onclick="location.href='/map';"></button>
                <div style="width: 30px; height:100px;float:left"></div>
                <button id="btnTimeLine" onclick=""></button>
            </div>
            <br>
            <div id="row2">
                <button id="btnMessenger" onclick="location.href='/chatting';"></button>
                <div style="width: 30px ; height:100px;float:left"></div>
                <button id="btnCalender" onclick="location.href='/calendar';"></button>
            </div>
        </div>
        <br>
    </div>
    <div id="div-foot">
        <button id="btnProfile" onclick="location.href='/profile';"></button>
        <button id="btnReport" onclick=""></button>
        <button id="btnPhoneCall" onclick="location.href='';"></button>
    </div>

</body>
</html>