<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/dashboard.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>DashBoard</h2>
    <div id="div-head">
        <button id="btnSetting" onclick="">Setting</button>
    </div>
    <br>

    <div id="div-body">
        <div id="row1">
            <button id="btnOnMyWay" onclick="">On MyWay</button>
            <button id="btnTimeLine" onclick="">TimeLine</button>
        </div>
        <div id="row2">
            <button id="btnMessanger" onclick="">Messanger</button>
            <button id="btnCalender" onclick="">Calendar</button>
        </div>
    </div>
    <br>

    <div id="div-foot">
        <button id="btnProfile" onclick="">Profile</button>
        <button id="btnReport" onclick="">Report</button>
        <button id="btnPhoneCall" onclick="">PhoneCall</button>
    </div>

</body>
</html>