<!DOCTYPE html>
<html>
<head>
    <title>DayCare</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/event_setting.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

</head>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript">

    var socket = io.connect("http://localhost:8080");
    var nname = Math.floor((Math.random() * 100) + 1) + "";
    socket.emit('joinroom',{room:'events', nickname: nname});
    var smonths = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nob','Dec'];

    $(document).ready(function() {
        socket.on('broadcast_msg', function (data) {
            console.log(data);
            var contents = "";
            var sd = "";
            if(data.date != undefined) {
                var ss = new Date(data.date);
                sd = (ss.getMonth()+1) +'-' + ss.getDate();
                contents = smonths[ss.getMonth()] + " " + ss.getDate() + "&nbsp;&nbsp;&nbsp;&nbsp;";
            }

            if( data.time != undefined) {
                if (data.time == '00:00:00') {
                    contents += 'All Day';
                } else {
                    contents += data.time;
                }
            }

            if(data.event != undefined) {
                contents += "&nbsp;&nbsp;&nbsp;&nbsp;" + data.event;
            }
            console.log(contents);

            if(contents != "") {
//                $('.event-list').append('<li>' + contents + "</li>");
                console.log(sd);
                $('#'+sd).attr({'style': 'background-color:#8db4ce;color:white;padding:0px 5px;'})
            }
        });

        var currentmonth = new Date();
        var cc = new Date();

        function datesinMonth(vdate){
            var first = new Date(vdate.getFullYear(), vdate.getMonth(), 1, 0, 0, 0, 0);
            var next =  new Date(vdate.getFullYear(), vdate.getMonth(), 1, 0, 0, 0, 0);
            next.setMonth(next.getMonth()+1);

            var diff = (next - first)/ 24 / 3600 / 1000;
            return diff ;
        }

        $('#edate').focus(function(){
            $("#dmsg").html('');
        })

        $('#etime').focus(function(){
            $("#tmsg").html('');
        })

        $('#econtent').focus(function(){
            $("#emsg").html('');
        })

        $('form').submit(function () {
            var etime = $.trim($('#etime').val());
            var edate = $.trim($('#edate').val());
            var econtent = $.trim($('#econtent').val());

            console.log('date'+edate+'-');
            console.log('time'+etime+'-');
            console.log('content'+econtent+'-');

            if (edate === '' ){
                $("#dmsg").html('Select Date.');
                return false;
            }
            if (etime === '' ){

                $("#tmsg").html('Select Time.');
                return false;
            }
            if (econtent === '' ){
                $("#emsg").html('Input the content of Event.');
                return false;
            }
        });

        function loadCalendar(vdate){
            var year = vdate.getFullYear();
            var month = vdate.getMonth();
            var today = vdate.getDate();

            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            var smonth = months[month];

            $("#smonth").html(year + "  " + smonth);

            var first = new Date(year, month, 1, 0, 0, 0, 0);
            var firstday = first.getDay();

            if (firstday > 0) {
                first.setDate(-firstday+1);
            }

            var days = datesinMonth(vdate);
            var cells = days + firstday;
//            alert(cells);
            var weeks = 5;
            if (cells % 7 > 0){
                weeks = (cells-cells % 7)/7 + 1;
            }else{
                weeks = cells / 7;
            }
            cells = weeks * 7;
            $(".days").empty();
            for (i = 0; i < cells; i++) {
                var date = first.getDate();
                var id = first.getFullYear() + '-' + (first.getMonth()+1) + '-' + first.getDate();

                if(cc.toDateString() == first.toDateString()){
                    $(".days").append('<li class="today"' +' id="'+ id + '">' + date + "</li>");
                }else if(i < firstday || i >= (firstday + days)) {
                    $(".days").append('<li class="prevday"' + ' id="'+ id + '">' + date + "</li>");
                }else{
                    $(".days").append('<li id="' + id + '">' + date + "</li>");
                }
                first.setDate(date + 1);
            }

            $(".today").attr({"style" : "padding:0px 5px;background: #5193bf; color: white !important;cursor:pointer;"});
            $(".prevday").attr({"style" : "color:#8db4ce;cursor:pointer;"});
        }

        function loadEvent(vdate){
            console.log(vdate);
            var year = vdate.getFullYear();
            var month = vdate.getMonth();

            var first = new Date(year, month, 1, 0, 0, 0, 0);
            var firstday = first.getDay();

            if (firstday > 0) {
                first.setDate(-firstday+1);
            }

            var days = datesinMonth(vdate);
            var cells = days + firstday;


            if (cells * 7 > 0){
                cells = ((cells - cells % 7)/7 + 1) * 7;
            }

            var lastday = new Date(first);
            lastday.setDate(lastday.getDate() + cells);

            var sfirst = first.getFullYear() + '-' + (first.getMonth()+1) + '-' + first.getDate();
            var slast = lastday.getFullYear() + '-' + (lastday.getMonth()+1) + '-' + lastday.getDate();
            console.log(nname + '|' + sfirst + '|'+ slast);
            socket.emit('get-event',{to: nname, firstday: sfirst, lastday:slast});

            $(".event-list").empty();
        }

        $(window).load(function () {
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        });

        $(".prev").click(function(){
            currentmonth.setMonth(currentmonth.getMonth() - 1);
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        })

        $(".next").click(function(){
            currentmonth.setMonth(currentmonth.getMonth() + 1);
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        })

        $(document).on("click",".days li",function(e){
            var idv = e.target.id;
            var cls = e.target.class;
//            alert(cls);
            if(cls != 'prevday') {
                $('#edate').val(idv);
            }
        })

        $("cancelbtn").click(function(){
            $('#edate').val('');
            $('#etime').val('');
            $('#econtent').val('');
        })

        $("#allDay").click(function(){
            if($("#allDay").is(":checked")==true) {
                $('#etime').val('00:00');
                $("#etime").attr("readonly",true).attr("disabled",true);
            } else {
                $("#etime").attr("readonly",false).attr("disabled",false);
            }
        })

    });
</script>

<body >
    <div id="div-head">
        <div id="div-title">
            <div id="homebtn" onclick="location.href='/calendar'" > </div>
            <!--<div id="homebtn" onclick="location.href='/dashboard'" > </div>-->
            <!--<div id="settingbtn" > </div>-->
            <h2 style="text-align:center">Calendar</h2>
        </div>

        <div  id="div-calendar" class ="div-calendar">
            <div class="month">
                <ul>
                    <li class="prev"><</li>
                    <li class="next">></li>
                    <li id="smonth" style="text-align:center">  </li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>

            <ul class="days"></ul>
        </div>
    </div>

    <div id="div-list">
        <!--<ul class="event-list"></ul>-->
        <form action="/save-event" method="post" style="width:100%">
            <!--<br><br>-->
            <div style="width:100%; height:50px;">
                <div id="div-date">
                    <p >&nbsp;Date&nbsp;&nbsp;<span id="dmsg"></span></p>
                    <input name="edate" id="edate" type="text"><br>
                </div>
                <div id="div-time">
                    <p >&nbsp;Time&nbsp;&nbsp;<span id="tmsg"></span></p>
                    <input name="etime" id="etime"  type="time"><br>
                </div>
            </div><br>
            <div style="width:100%;height:35px;padding-top:10px">
                <label style="float : right;">&nbsp;All day&nbsp;&nbsp;
                <input id="allDay" type="checkbox">
                </label>
            </div>
            <div id="div-content">
                <p >&nbsp;Content&nbsp;&nbsp;<span id="emsg"></span></p>
                <input name="econtent" id="econtent"  type="text" style="width:100%"><br><br>
            </div>
            <div id="div-btns">
                <div style="width:49%; height:35px;float:left;">
                    <input type="submit" id="savebtn"  value="Save" style="float:right;">
                </div>
                <div style="width:49%; height: 35px; float:right;">
                    <input type="reset" id="cancelbtn" value="Cancel" style="float:left;">
                </div>

            </div>
        </form>
    </div>

</body>
</html>