<!DOCTYPE html>
<html>
<head>
    <title>DayCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

    <link rel='stylesheet' type="text/css" href='/stylesheets/event_setting.css' />
    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui-1.12.1.js"></script>
</head>
<!--<script src="/socket.io/socket.io.js"></script>-->

<script type="text/javascript">

    var smonths = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nob','Dec'];

    $(document).ready(function() {
        var currentmonth = new Date();
        var cc = new Date();
        var childname = '';

        $.ajax({
            url:"/getChildList", type:"get", dataType:"JSON",
            success : function(data){
                childname = data[0].child_name;
                var cc = childname.split(" ");
                if (cc.length > 1){
                    childname = cc[0] + " " + cc[1].substr(0,1).toUpperCase()+".";
                }
            },
            error : function(xhr, status, error) { alert("error");}
        })

        // Error
        var error_dialog = $( "#error-dialog" ).dialog({
            autoOpen: false,
            height: 200,
            width: 300,
            modal: true,
            buttons: {
                "Go to Login Page": function(){ location.href = "/";}
            },
            close: function() {
                error_form[0].reset();
                //food_Fields.removeClass( "ui-state-error" );
            }
        });

        var error_form = error_dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
        });

        function datesinMonth(vdate){
            var first = new Date(vdate.getFullYear(), vdate.getMonth(), 1, 0, 0, 0, 0);
            var next =  new Date(vdate.getFullYear(), vdate.getMonth(), 1, 0, 0, 0, 0);
            next.setMonth(next.getMonth()+1);

            var diff = (next - first)/ 24 / 3600 / 1000;
            return diff ;
        }

        $('#edate').focus(function(){
            $("#dmsg").css('color', 'black');
            $("#dmsg").html('&nbsp;Date(Pick a date above)');
        })

        $('#etime').focus(function(){
            $("#tmsg").css('color', 'black');
            $("#tmsg").html('&nbsp;Time');
        })

        $('#ename').focus(function(){
            $("#emsg").css('color', 'black');
            $("#emsg").html('');
        })

        $("#savebtn").click(function(){
            var etime = $.trim($('#etime').val());
            var edate = $.trim($('#edate').val());
            var ename = $.trim($('#ename').val());
            var enote = $.trim($('#enote').val());
            var uid = localStorage.getItem('uid');

            console.log(uid);

            if(uid == '' || uid == undefined){
                error_dialog.dialog("open");
            }

            if (edate === '' ){
                $("#dmsg").css('color', 'red');
                $("#dmsg").html('&nbsp;Select Date.');
                return false;
            }else{
                $("#dmsg").html('&nbsp;Date(Pick a date above)');
            }

            if (etime === '' ){
                $("#tmsg").css('color', 'red');
                $("#tmsg").html('&nbsp;Select Time.');
                return false;
            }else{
                $("#tmsg").html('&nbsp;Time.');
            }

            if (ename === '' ){
                $("#emsg").css('color', 'red');
                $("#emsg").html('Input the content of Event.');
                return false;
            }

            var surl = "/save-event?edate="+edate+"&etime="+etime+"&ename="+ename+"&enote="+enote+"&uid="+uid;
            console.log(surl);
            $.ajax({
                url: surl,
                dataType: "JSON", // option
                success: function (data) {
                    var dd = new Date(edate);

                    loadEvent(dd);
                },
                error: function (xhr, status, error) {
                    alert("error");
                }
            });
        });

        function loadCalendar(vdate){
            var year = vdate.getFullYear();
            var month = vdate.getMonth();
            var today = vdate.getDate();

            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            var smonth = months[month];

            $("#smonth").html(year + "  " + smonth);

            var first = new Date(year, month, 1, 0, 0, 0, 0);
            var firstday = first.getDay();

            if (firstday > 0) {
                first.setDate(-firstday+1);
            }

            var days = datesinMonth(vdate);
            var cells = days + firstday;
//            alert(cells);
            var weeks = 5;
            if (cells % 7 > 0){
                weeks = (cells-cells % 7)/7 + 1;
            }else{
                weeks = cells / 7;
            }
            cells = weeks * 7;
            $(".days").empty();
            for (i = 0; i < cells; i++) {
                var date = first.getDate();
                var id = first.getFullYear() + '-' + (first.getMonth()+1) + '-' + first.getDate();

                if(cc.toDateString() == first.toDateString()){
                    $(".days").append('<li class="today"' +' id="'+ id + '">' + date + "</li>");
                }else if(i < firstday || i >= (firstday + days)) {
                    $(".days").append('<li class="prevday"' + ' id="'+ id + '">' + date + "</li>");
                }else{
                    $(".days").append('<li id="' + id + '">' + date + "</li>");
                }
                first.setDate(date + 1);
            }

            $(".today").attr({"style" : "padding:0px 5px;background: #5193bf; color: white !important;cursor:pointer;"});
            $(".prevday").attr({"style" : "color:#8db4ce;cursor:pointer;"});
        }

        function loadEvent(vdate){
            var year = vdate.getFullYear();
            var month = vdate.getMonth();

            var first = new Date(year, month, 1, 0, 0, 0, 0);
            var firstday = first.getDay();

            if (firstday > 0) {
                first.setDate(-firstday+1);
            }

            var days = datesinMonth(vdate);
            var cells = days + firstday;


            if (cells * 7 > 0){
                cells = ((cells - cells % 7)/7 + 1) * 7;
            }

            var lastday = new Date(first);
            lastday.setDate(lastday.getDate() + cells - 1);

            var sfirst = first.getFullYear() + '-' + (first.getMonth()+1) + '-' + first.getDate();
            var slast = lastday.getFullYear() + '-' + (lastday.getMonth()+1) + '-' + lastday.getDate();

            var surl = "/get-event?firstday=" + sfirst + "&lastday="+slast;

            $.ajax({
                url : surl, dataType:"JSON",
                    success : function(data) {
                    for(i=0; i<data.length;i++){
                        var contents = "";
                        var sd = "";
                        if(data[i].mdate != undefined) {
                            var ss = new Date(data[i].mdate);
                            sd = ss.getFullYear()+'-'+ (ss.getMonth()+1) +'-' + ss.getDate();
                            contents = smonths[ss.getMonth()] + " " + ss.getDate() + "&nbsp;&nbsp;&nbsp;&nbsp;";
                        }

                        if( data[i].mtime != undefined) {
                            if (data[i].mtime == '00:00:00') {
                                contents += 'All Day';
                            } else {
                                contents += data[i].mtime;
                            }
                        }

                        if(data[i].event != undefined) {
                            contents += "&nbsp;&nbsp;&nbsp;&nbsp;" + data[i].event;
                        }
                        $('#'+sd).attr({'style': 'background-color:#8db4ce;color:white;padding:0px 5px;'})
                    }
                },
                error : function(xhr, status, error) { alert("error");}
            });
        }

        $(window).load(function () {
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        });
        // to previous date
        $(".prev").click(function(){
            currentmonth.setMonth(currentmonth.getMonth() - 1);
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        })
        // to next date
        $(".next").click(function(){
            currentmonth.setMonth(currentmonth.getMonth() + 1);
            loadCalendar(currentmonth);
            loadEvent(currentmonth);
        })
        // when click date of calendar
        $(document).on("click",".days li",function(e){
            var idv = e.target.id;
            var cls = e.target.class;
//            alert(cls);
            if(cls != 'prevday') {
                $('#edate').val(idv);
            }
        })
        // when press cancel button
        $("#cancelbtn").click(function(){
            $('#edate').val('');
            $('#etime').val('');
            $('#ename').val('');
            $('#enote').val('');
            $('#allDay').attr('checked',false);
        })
        // when select <All day>
        $("#allDay").click(function(){
            if($("#allDay").is(":checked")==true) {
                $('#etime').val('00:00');
                $("#etime").attr("readonly",true);
            } else {
                $("#etime").attr("readonly",false);
            }
        })
        // when select default option
        $("#opt-absent").click(function(){
            $("#emsg").css('color', 'black');
            $("#emsg").html('');
            $("#ename").val(childname + " " + $(this).val());
        })
        $("#opt-pickup").click(function(){
            $("#emsg").css('color', 'black');
            $("#emsg").html('');
            $("#ename").val(childname + " " + $(this).val());
        })
        $("#opt-dropoff").click(function(){
            $("#emsg").css('color', 'black');
            $("#emsg").html('');
            $("#ename").val(childname + " " + $(this).val());
        })

    });
</script>

<body >
<!-- Form to add Note  -->
<div id="error-dialog" title="Information" style="display: none;">
    <form>
        <fieldset>
            <p class="validateTips">For adding Event, you have to Login.</p>
            <!--<input type="time" id="timer" style="width:240px; height:40px;" value="" class="ui-widget-content ui-corner-all">-->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

    <div id="div-head">
        <div id="div-title">
            <i class="fa fa-angle-left" style="font-size:24px; padding-top:25px;margin-left: 10px;color:red;float:left;" onclick="location.href='/calendar'">&nbsp;Back</i>
            <h2 style="text-align:center">Calendar</h2>
        </div>

        <div  id="div-calendar" class ="div-calendar">
            <div class="month">
                <ul>
                    <li class="prev"><i class="fa fa-angle-left" style="font-size:24px;color:red;float:left;"></i></li>
                    <li class="next"><i class="fa fa-angle-right" style="font-size:24px;color:red;float:right;"></i></li>
                    <li id="smonth" style="text-align:center">  </li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>

            <ul class="days"></ul>
        </div>
    </div>

    <div id="div-list">
        <!--<ul class="event-list"></ul>-->
        <!--<form action="/save-event" method="post" style="width:100%">-->
            <!--<br><br>-->
            <div style="width:100%; height:50px;">
                <div id="div-date">
                    <p id="dmsg">&nbsp;Date(Pick date above)&nbsp;</p>
                    <input name="edate" id="edate" type="text" readonly><br>
                </div>
                <div id="div-time">
                    <p  id="tmsg">&nbsp;Time&nbsp;&nbsp;</p>
                    <input name="etime" id="etime"  type="time"><br>
                </div>
            </div><br>
            <div style="width:100%;height:35px;padding-top:10px">
                <label style="float : right;">
                <input id="allDay" type="checkbox">&nbsp;All day
                </label>
            </div>
            <div id="div-content">
                <div width="100%">
                    <div width="100%">
                        <p >&nbsp;Event&nbsp;&nbsp;<span id="emsg"></span></p>
                        <input name="ename" id="ename"  type="text" style="width:100%"><br>
                    </div>
                    <div id="options" style="width:100%; padding-left:30px;">
                        <p>
                        <label>
                            <input type="radio" name="default" id="opt-absent" value="Absent">
                            &nbsp;Absent
                        </label>
                        </p>
                        <p>
                        <label>
                            <input type="radio" name="default" id="opt-pickup" value="Pick up early">
                            &nbsp;Pick up early
                        </label></p>
                        <p>
                        <label>
                            <input type="radio" name="default" id="opt-dropoff" value="Drop off Late">
                            &nbsp;Drop off Late
                        </label></p>

                    </div>
                </div>
                <div width="100%">
                    <p >&nbsp;Reason&nbsp;&nbsp;<span id="nmsg"></span></p>
                    <textarea name="enote" id="enote" rows="3" maxlength="300" style="width:100%"></textarea><br>
                </div>
            </div>
            <div id="div-btns">
                <div style="width:49%; height:35px;float:left;">
                    <button id="savebtn"  style="float:right;">Save</button>
                </div>
                <div style="width:49%; height: 35px; float:right;">
                    <button id="cancelbtn" style="float:left;">Cancel</button>
                </div>

            </div>
        <!--</form>-->
    </div>

</body>
</html>