<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, minimum-scale=1,user-scalable=no">-->
    <meta name="viewport" content="width=device-width,user-scalable=no">
  </head>
  <script type="text/javascript" >
    function check(){
      var email = document.getElementById("email");
      var pwd = document.getElementById("pwd");

      if (email.checkValidity() == false) {
        email.value = "Input correct email address";
      }else if(pwd.value==''){
        pwd.value = "Input Password.";
      }else{
        document.getElementById("login_form").submit();
      }
      return 0;
    }
  </script>

  <body >
    <form id="login_form" action="/verifyuser" method="post">
      <div id="div-email">
          <input type="email" id="email" name="email" placeholder="useremail@mail.com" >
      </div>
      <div id="div-pwd">
          <input type="password" id="pwd" name="pwd" placeholder="Password">
      </div>
      <div id="verify" onclick="check();">Login with Email</div>
      <div id="repairPWD" onclick="location.href='/recoverpwd';">Forgot Password?</div>
      <div id="signup" onclick="location.href='/signup';">Sign Up</div>
      <div id="fbLogin" onclick="location.href='/auth/facebook';">Login with Facebook</div>
    </form>
  </body>
</html>
