<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <!--<meta name="viewport" content="width=device-width,user-scalable=no">-->
    <link href="https://www.fontify.me/wf/e6a3c17c14d6295d075e29aa38e455ce" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery-1.11.0.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <script type="text/javascript" >
    function check(){
      var email = document.getElementById("email");
      var pwd = document.getElementById("pwd");

      if (email.checkValidity() == false) {
        email.value = "Input correct email address";
      }else if(pwd.value==''){
        pwd.value = "Input Password.";
      }else{
        document.getElementById("login_form").submit();
      }
      return 0;
    }
  </script>



  <body >
    <form id="login_form" action="/verifyuser" method="post">
      <div id="div-email">
          <input type="email" id="email" name="email" placeholder="useremail@mail.com" >
      </div>
      <div id="div-pwd">
          <input type="password" id="pwd" name="pwd" placeholder="Password">
      </div>
      <div id="verify" onclick="check();">Login</div>
      <div id="signup" onclick="location.href='/signup';">Sign Up</div>
      <div id="repairPWD"><a href="/recoverpwd">Forgot Password?</a></div>
    </form>
  </body>
</html>
