<html>
    <head>
        <title>Daycare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmhelMVEXev83EyFPJhCJ1fYnQleKPfos&sensor=true"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="/javascripts/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/location-sharing.js"></script>
    	<script type="text/javascript">

            // User Infomation
            var currentUserInfo = null;
            var users = {};

            // Google Maps UI
            var map = null;
            var infowindow = null;
            var refreshTimeout = null;

            function userLocationUpdate(userInfo){
                if(!users[userInfo.id]) users[userInfo.id] = { id: userInfo.id };
                
                users[userInfo.id].name = userInfo.name;
                users[userInfo.id].latitude  = userInfo.latitude;
                users[userInfo.id].longitude = userInfo.longitude;
                users[userInfo.id].timestamp = new Date().getTime()
                refreshMarkers();
            } 

            function refreshMarkers(){
                if (!map) return;
                if (!currentUserInfo.movedMapCenter && currentUserInfo.timestamp) {
                    $('#user-name').val(currentUserInfo.name);
                    $('#user-name').keyup(function() {
                        currentUserInfo.name = $('#user-name').val();
//                        alert(currentUserInfo.name);
                    })
                    currentUserInfo.movedMapCenter = true;
                    map.setCenter(new google.maps.LatLng(
                        currentUserInfo.latitude, currentUserInfo.longitude));
                }

                for (var id in users) {
                    var userInfo = users[id];

                    if(userInfo.marker){
    
                        // If we havn't received any update from the user
                        //  We remove the marker of missing user
                        if( userInfo.id != currentUserInfo.id && 
                            userInfo.timestamp + 1000*30 < new Date().getTime() ){
                            userInfo.marker.setMap(null);
                            delete users[id];
                            continue;
                        }

                    }else{
                        // Create a marker for the new user
                        var marker = new google.maps.Marker({ map:map });
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.setContent(marker.getTitle())
                            infowindow.open(map, marker);
                        });

                        userInfo.marker = marker;
                    }

                    //Move the markers
                    userInfo.marker.setTitle(userInfo.name);
                    userInfo.marker.setPosition( 
                        new google.maps.LatLng(userInfo.latitude, userInfo.longitude));
                }
                
//                $('#user-number').text(Math.max(Object.keys(users).length-1,0) +'')

                // Refresh the markers every 20 seconds
                clearTimeout(refreshTimeout) 
                refreshTimeout = setTimeout(refreshMarkers, 1000*20);
            }

            function mapInitialize() {
                map = new google.maps.Map(document.getElementById("map-canvas"), { 
                    zoom: 12,
                    center: new google.maps.LatLng(40.037710, 124.340278)
                });
                infowindow = new google.maps.InfoWindow({ content: 'Test' });
                google.maps.event.addListener(map, 'click', function() {
                    infowindow.close(map);
                });
                refreshMarkers();
            }

            function move_to_otheruser(){
                var ids = Object.keys(users)
                ids.slice(ids.indexOf(currentUserInfo.id),1);

                var random_user_id = ids[Math.floor(ids.length * Math.random())]
                var userInfo = users[random_user_id];
                map.setCenter(new google.maps.LatLng(
                        userInfo.latitude, userInfo.longitude));

                infowindow.setContent(userInfo.name)
                infowindow.open(map, userInfo.marker);
            }

            google.maps.event.addDomListener(window, 'load', mapInitialize);
            currentUserInfo = initLocationSharing(userLocationUpdate);

    	</script>

        <style>
            #div-title {
                height: 80px;
                padding: 20px 20px 0px 20px;
                background-color: #eaee9a;
                color : #ff2f42;
            }

            #homebtn{
                width:30px;height:30px;
                background-position: left center;
                background-repeat: no-repeat;
                background-image: url('/images/home.png');
                float:left;
            }

            #map-canvas  { height: 100%; width:100%; }
        </style>

        <!--<p>there are other-->
            <!--<a href="#" id="user-number" onclick="move_to_otheruser()">0</a>-->
            <!--users viewing this page with you.-->
        <!--</p>-->

        <div id="div-title">
            <p></p>
            <div id="homebtn" onclick="location.href='/dashboard'" > </div>
            <h2 style="text-align:center">Map</h2>
        </div>

        <div id="map-canvas"></div>

    </body>
</html>