<!DOCTYPE html>
<html>
<head>
    <title>Sunshine and Sprout Daycare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel='stylesheet' type="text/css" href='/stylesheets/parent_dashboard.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<script type="text/javascript">
    var socket = io.connect("http://192.168.4.148:8080");

    var uid = '<%=uid%>';
    var nm = '<%=nname%>';
    var grd = '<%=grade%>';

    localStorage.setItem('uid', uid);
    localStorage.setItem('nickname', nm);
    localStorage.setItem('grade', grd);

    console.log('nickname='+nm + " grade="+grd);
//    socket.emit('joinroom',{room:'geoloc', nickname:nm, grade: grd});

//    socket.on('notify', function (data) {
//        $('#msg').text(data.msg + " is on way.");
//        $('#notify').attr({'style':'display:block;background-color:#eaee9a'});
//        socket.emit('location', data);
//    });

    var onmywayDown = false;

    function onmyway(){
        if (!onmywayDown){
            onmywayDown = true;
            $('#btnOnMyWay').attr({'style': 'background-image : url("/images/myway1.png")'})
        }else{
            onmywayDown = false;
            $('#btnOnMyWay').attr({'style': 'background-image  : url("/images/myway.png")'})
        }

        socket.emit('notify', { msg: nm});
        location.href="/map";
        return true;
    }

    $(document).ready(function() {
        $('#btnReport').click(function(){
            $.ajax({
                url: "/getChildList", type:'get', datatype:'JSON',
                success:function(data){
                    location.href='/user-report?cid=' + data[0].cid;
                }
            })
        })
    })

</script>
<body>
    <div id="div-body">
        <div id="notify" style="display: none;width:100%; height:250px;background-color:#00b7ff;">
            <br>
            <h3 style="text-align: center" id="msg"></h3>
            <button onclick="hide();" style="width:20%;height:30px;margin-left: 40%;">Close</button>
            <br>
        </div>
        <div id="div-main">
            <div id="row1" >
                <button id="btnOnMyWay" onclick="onmyway();"></button>
                <div style="width: 30px; height:100px;float:left"></div>
                <button id="btnTimeLine" onclick="location.href='/timeline';"></button>
            </div>
            <br>
            <div id="row2">
                <button id="btnMessenger" onclick="location.href='/chatting';"></button>
                <div style="width: 30px ; height:100px;float:left"></div>
                <button id="btnCalender" onclick="location.href='/calendar';"></button>
            </div>
        </div>
        <br>
    </div>
    <div id="div-foot">
        <button id="btnProfile" onclick="location.href='/profile?imgsrc=none';"></button>
        <button id="btnReport" ></button>
        <a href="tel:703-987-6037"><button id="btnPhoneCall"></button></a>
    </div>

</body>
</html>