<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/selectphoto.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>
<script type="text/javascript">
    function handleFiles() {
        var selector = document.getElementById('fileElem');
        if(selector.files && selector.files[0]){
            var oFReader = new FileReader();
            oFReader.readAsDataURL(selector.files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("photo").src = oFREvent.target.result;
            };
//            document.getElementById('hfilename').value = selector.files[0].path;
        }
    }

</script>

<body>
    <div id="div-body">
        <div id="div-head" class="float:right;">
            <h2 class="text-align:center;">Photo Upload</h2>
        </div>
        <br>
        <div id="div-main">
            <form id="photoForm" action="/uploadphoto" method="post" enctype="multipart/form-data">
                <div id="div-photo">
                        <img id="photo" src="" width="150" height="150" >
                    <input type="file" name="fileElem" id="fileElem" accept="image/*" onchange="handleFiles(this.files)">
                    <br>
                    <br>

                    <img id="photoupload" src="/images/uploadphoto.png" onclick="document.getElementById('photoForm').submit();">
                </div>
            </form>
        </div>
    </div>
    <div id="div-foot">
        <button id="btnProfile" onclick="location.href='/profile';"></button>
        <button id="btnReport" onclick="location.href='';"></button>
        <button id="btnPhoneCall" onclick="location.href='';"></button>

    </div>

</body>
</html>