html {
  background: url("/images/bg.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:100%;
	/*font-family:*/
/*!* 1 *! -apple-system, BlinkMacSystemFont,*/
/*!* 2 *! "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",*/
/*!* 3 *! "Helvetica Neue", sans-serif;*/
}

body{
  height:100%;
  margin:0px;
  font: 16px "SF UI Display", "Lucida Grande", Helvetica, Arial, sans-serif;
  background: transparent;
}

#btnBack{
    width:30px;
    height:30px;
    float:left;
    margin-top:10px;
    margin-left:10px;
}

.btn-link{
    color:#3E8ACC;
    font-size:20px;
}

h3{
    margin-top:10px;
    font-size:24px;
  text-align: center;
}

.fa-angle-left{
    padding-top:10px;
    color:#3E8ACC;
    margin-left: 20px;
    float:left;
}

.dropdown{
    min-height: 50px;
    display: inline-block;}

#div-head, #div-foot, #div-main, #div-title, #div-child-list{
	width : 100%;
  color: #3E8ACC;
}

.ui-dialog-titlebar, .ui-button{
    background-color: #3e8acc;
    color:white;
 }

#div-head{
    height : 50px;
    /*background-color:rgba(231, 246, 113, 0.5);*/
    background-color:white;
}

button{
	font-size: 16px;
}
.child_item{
	display:block; 
	width: 75px; 
	height: 75px; 
	margin: 5px;
	float : left;
}

#summary{color:white;}
#summary th{color:#3E8ACC;}

#summary tr.list{
    height : 60px;
    background-color : #2e7dcd;
}

#summary tr:nth-child(even){
    background-color : #4f90d4;
}

td.cell{
	height : 60px;
	vertical-align:middle;
    text-align: center;
	padding : 5px; 
	background-position: center center;
    background-repeat: no-repeat;
}

td.foodcell{
    width : 50%;
    background: no-repeat left center;
    padding-left: 60px;
}

tr.list{
    height : 60px;
    background-color : #2e7dcd;
}

tr:nth-child(even){
    background-color : #4f90d4;
}

th{
	vertical-align:middle;
	background-color : white;
}

td{border-bottom: 1px solid white;}

#div-main{
	margin-top:20px;
	vertical-align:middle;
}

#btnback{
	width : 30px;
	height: 30px;
	float:left;
}

#childname{
    margin-left:20px;
    display:inline-block;
}

#child-photo{
	max-width : 100px;
	max-height: 100px;
    border-radius:50%;
    border: 3px solid #3E8ACC;
}

#div-photo{
    width: 100px;
    max-height: 100px;
    border: 1px;
    display: inline-block;
    margin-left: 20px;
    float: left;
}

#div-photoline{
  height : 100px;
}

#div-picture{
	width:100%;height:260px;
	border : 1px solid #aaa;
	border-radius : 3px;
	text-align:center;
	padding: 3px;
    background-color: #e5e5e5
}

#groupcheck{
	margin-top: 15px;
    margin-bottom: 15px;
    width: 20px;
    height: 20px;
}

.btn .caret {
    margin-left: 20px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 20px;
    vertical-align: top;
    border-top: 10px dashed;
    /*border-top: 4px solid\9;*/
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.tile {
    padding: 0px;
    display: block;
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
    background-position:center center; 
}

.fill {
    width: 100%;
    height: 100%;
}

.inside-border {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tile-menu-border {
    /*position: absolute;*/
    position: relative;
    top: 0px;
    left: 0px;
    border: 4px solid #3E8ACC; /* blue */
    border-radius:50%;
}

.pointable {
    cursor: pointer
}

#bottle-num {
    color: #777;
    width: 2em;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 5px;
}

#photo{
	max-width:100%;
	max-height:100%;
	border: 0px solid;
	vertical-align:middle;
	display:inline-block;
}
#photo-selector{
	margin-top:10px;
	width:260px;
}
#photo-note{
	margin-top:10px;
	width:260px;
	border-radius:5px;
}
#comment-dialog h4{
	margin-top : 20px;
	margin-bottom: 10px;
}
#comment-note{
	width:240px;
	height:90px;
	border-radius:5px;
}

.ul-activities button{
    border-radius:10px;
    background-color:rgba(136, 176,220,0.5);
    color : navy;
    font-weight: bold;
    border-color: #d4d4f1;
}

.ul-activities{ padding-left: 0px;}

.ui-dialog-title{ text-align:center; }

.ui-dialog-titlebar-close{ border : none; }

.ui-dialog { padding: 0px;}

input[type=time]{ text-align : center; width:100%;height:40px;}

.ui-button .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png);
}


