html {
  background: url("/images/bg.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  height:100%;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: none;
}

h2{ text-align: center;}

#div-main{ color: #000066; }

#div-main{
  padding-bottom:130px;
  vertical-align:middle;
  margin-top:25%;
  height:75%;
}

#div-body{
  min-height:100%;
}

#div-main button{
    width : 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position:center center;
    border-radius: 10px;
    border-color : #e2ecf8;
    display:inline-block;
    background-color: #d2e3f3;
    margin: 10px 0px;
}

#btnReports, #btn_timeline, #btnActivity{ text-align: center;}
#btnOnMyWay, #btnProfile{ float: right;}
#btnMessenger, #btnCalender{ float: left; }

#btnOnMyWay{   background-image: url("/images/myway.png"); background-size: 80%;}
#btnMessenger{ background-image: url("/images/messenger.png"); background-size: 80%;}
#btnTimeLine{  background-image: url("/images/timeline.png"); background-size: 80%;}
#btnCalender{  background-image: url("/images/calendar.png"); background-size: 80%;}
#btnActivity{  background-image: url("/images/activity.png"); background-size: 80%;}
#btnProfile {  background-image: url("/images/admin_profile.png"); background-size: 80%;}
#btnReports {  background-image: url("/images/report.png"); background-size: 80%;}

.row{
  width: 100%;
  height:100px;
    margin:0px;
}

.col-xs-4{
    height :100%;
    padding:0px;
    /*float:none;*/
}

