* {box-sizing:border-box;}
ul {list-style-type: none;}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*font-family: Verdana,sans-serif;*/
    margin : 0px;
    background-color: #5193bf;
}

#div-head{
    width:100%;
    position:fixed;
    z-index:99;
    top:0px;
    left:0px;
    -webkit-box-shadow: 0 1px 2px 0 #777;
    box-shadow: 0 1px 2px 0 #777;
}

#div-title {
    height: 65px;
    background-color: #eaee9a;
    color : #ff2f42;
}

#div-list{
    padding-top: 350px;
    width : 100%;
}

#btnsearch{
    float:right;
    width:30px;
    height:30px;
    margin-left:5px;
}

#word{
    float:right;
    width:130px;
    height:30px;
    text-indent: 10px;
    font-size: 14px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#div-calendar{
    background-color: #d8e3aa;
    padding : 0px 10px;
}

.month {
    padding: 20px 25px 5px 25px;
    width: 100%;
    color: #d34e2c;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month #smonth{float:none;}
.month .prev {
    float: left;
    /*padding-top: 10px;*/
}

.month .next {
    float: right;
    /*padding-top: 10px;*/
}

.weekdays {
    color:#3581d5;
    margin: 0;
    padding: 10px 0;
    background-color: #d8e3aa;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days {
    padding: 10px 0;
    color:#3581d5;
    background-color: #d8e3aa;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    margin-bottom: 15px;
    font-size:14px;
}
.event-list{
    width : 100%;
    list-style-type: none;
    border-collapse: collapse;
}
.event-list tr {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*height : 30px;*/
    color : white;
    padding : 5px 0px;
    border-bottom : 2px solid white;
    text-indent : 5px;
}

tr.list{
    height : 50px;
    background-color : #5193bf;
    border-bottom: 2px solid white;
}

tr:nth-child(even){
    background-color : #6cc4ff;
}

.event-list li:first-child{
    border-top: 2px solid white;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecee7d;
    color:red;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: red;
    text-align: center;
    padding: 35px 16px 10px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav-item a:hover{
    background-color: #b36c27;
    color:white;
}

/*.nav-item a.active {*/
    /*color: white;*/
    /*background-color: #4CAF50;*/
/*}*/
#search{
    float:right;
    padding-top: 25px
}
#new{float:right;}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li {width: 13.2%;}
    /*.weekdays li, .days li {width: 13.1%;}*/
}

@media screen and (max-width: 420px) {
    .weekdays li {width: 12.7%;}
    /*.weekdays li, .days li {width: 12.5%;}*/
    /*.days li .active {padding: 2px;}*/
}

@media screen and (max-width: 290px) {
    /*.weekdays li, .days li {width: 12.2%;}*/
    /*.weekdays li, .days li {width: 13.1%;}*/
}
