* {box-sizing:border-box;}
ul {list-style-type: none;}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*font-family: Verdana,sans-serif;*/
    margin : 0px;
    background-color: #5193bf;
}

.container{
    padding:0px;
}

#div-head{
    width:100%;
    position:fixed;
    z-index:99;
    top:0px;
    left:0px;
    -webkit-box-shadow: 0 1px 2px 0 #777;
    box-shadow: 0 1px 2px 0 #777;
}

#div-title {
    height: 70px;
    background-color: #eaee9a;
    border-bottom: 1px solid #d0d56b;
}

#home, #new{ width:15%; }

img{cursor: pointer;}

#div-list{
    padding-top: 360px;
    width : 100%;
    color: white;
}

div.row.btn{
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    border-bottom: 2px solid white;
}

#btnsearch{
    float:right;
    width:30px;
    height:30px;
    margin-left:5px;
    cursor: pointer;
}

#searchbox{
    border-radius: 15px;
    background-color: white;
    height: 32px;
    border: 1px solid #d8d704;
}

#word{
    float:left;
    height:30px;
    text-indent: 15px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px;
    outline: none;
}

#div-calendar{
    background-color: #c6dbf0;
    padding : 0px 10px;
}

.month {
    padding: 10px 25px 10px 25px;
    width: 100%;
    color: #42b15b;
    background-color: #eaeb7f;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month #smonth{
    float:none;
    padding-top: 5px;
    text-align: center;
}

.month .prev {
    float: left;
}

.month .next {
    float: right;
}

.weekdays {
    color:#4cb366;
    margin: 0;
    padding: 10px 0;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days {
    padding: 10px 0;
    color:#4cb366;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    margin-bottom: 8px;
    font-size:14px;
}

.days li div{
    width : 25px;
    height: 25px;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    padding-top : 5px;
    text-align: center;
}

.event-list{
    width : 100%;
    list-style-type: none;
    border-collapse: collapse;
}
.event-list tr {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*height : 30px;*/
    color : white;
    padding : 5px 0px;
    border-bottom : 2px solid white;
    text-indent : 5px;
}

tr.list{
    height : 50px;
    background-color : #5193bf;
    border-bottom: 2px solid white;
}

tr:nth-child(even){
    background-color : #6cc4ff;
}

.event-list li:first-child{
    border-top: 2px solid white;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecee7d;
    color:red;
}

.nav-item {
    float: left;
}

.nav>li>a {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.nav-item a:hover{
    background-color: #b36c27;
    color:white;
}

.collapse{
    width : 100%;
    min-height:30px;
    background-color: #94b5d4;
    border-bottom:2px solid white;
    padding:10px 20px;
    /*text-align: center;*/
}

.btn{
    border-radius: 0px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white !important;
    text-decoration: none;
}
#search{
    width:70%;
    float:right;
    padding-top: 20px;
}
#new{float:right;}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li {width: 13.2%;}
    /*.weekdays li, .days li {width: 13.1%;}*/
}

@media screen and (max-width: 420px) {
    .weekdays li {width: 12.7%;}
    /*.weekdays li, .days li {width: 12.5%;}*/
    /*.days li .active {padding: 2px;}*/
}

@media screen and (max-width: 290px) {
    /*.weekdays li, .days li {width: 12.2%;}*/
    /*.weekdays li, .days li {width: 13.1%;}*/
}
