html,body{ height:100%;}
body{
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*width : 90%;*/
  background-color: #00B7FF;
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
}

h2{
  text-align: center;
}

#div-head, #div-foot, #div-main{
  color: #000066;
}

#div-main{
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom:130px;
  vertical-align:middle;
}

#div-head{
  height : 50px;
}

#div-foot{
  margin-top:-130px;
  height : 130px;
  background-color: #fafcf9;
  margin-right: 0px;
  margin-left: 0px;
  /*display:inline-block;*/
  /*width:100px;*/
  text-align:center;
}

#div-body{
  min-height:100%;
}

#div-main{
  margin-top:25%;
  height:75%;
}

 /*.dropbtn {*/
   /*background-color: #4CAF50;*/
   /*color: white;*/
   /*padding: 16px;*/
   /*font-size: 16px;*/
   /*border: none;*/
   /*cursor: pointer;*/
 /*}*/

/*.dropdown {*/
  /*position: relative;*/
  /*display: inline-block;*/
/*}*/

/*.dropdown-content {*/
  /*display: none;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*background-color: #f9f9f9;*/
  /*min-width: 160px;*/
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*}*/

/*.dropdown-content a {*/
  /*color: black;*/
  /*padding: 12px 16px;*/
  /*text-decoration: none;*/
  /*display: block;*/
/*}*/

/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/*.dropdown:hover .dropdown-content {*/
  /*display: block;*/
/*}*/

/*.dropdown:hover .dropbtn {*/
  /*background-color: #3e8e41;*/
/*}*/
