html,body{ height:100%;}
body{
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0px;
  background-color: #c6daf0;
  max-height: 100%;
  /*background-image: url("/images/bg.png");*/
}
h2{
    text-align: center;
    margin:0px 0px 10px 0px;
    padding-top:20px;
}
#div-head{
  height:90px;
  padding:0px 20px;
  background-color: #eaee9a;
}

#homebtn{
  width:30px;height:30px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('/images/home.png');
  float:left;
}

#div-main{
  margin:10px 5% 30px 5%;
  width:90%;height:70%;
}
#msgs{
  width:100%; border:none; height:100%;
    margin-bottom:90px;
}

#div-bottom{
  position: fixed; bottom: 0px;
  width: 90%; padding:10px 5%;
  background-color: #f3f39c;
}
select, textarea {
    border-radius : 4px;
}
