html,body{ height:100%;}
body{
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width : 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #00B7FF;
}

h2{
  text-align: center;
}

#div-head, #div-foot, #div-main{
  color: #000066;
}

#div-main{
  padding-bottom:50px;
}

#div-head{
  height : 50px;
}

#div-foot{
  margin-top:-50px;
  height : 50px;
}

#div-body{
  min-height:100%;
}

#btnSetting{
  width: 50px;
  height: 50px;
  display: block;
  float: right;
}
#btnOnMyWay, #btnMessanger{
  width : 49%;
  height: 100%;
  alignment: left;
}
#btnTimeLine, #btnCalender{
  width : 49%;
  height: 100%;
  alignment: right;
}
#row1, #row2{
  width: 100%;
  height:40%;
}
#btnProfile,#btnReport,#btnPhoneCall {
  width: 32%;
  height: 50px;
}
#btnProfile {
  /*float: left;*/
}
#btnReport{
  /*margin-left: 1px;*/
}
#btnPhoneCall{
  /*margin-left: 1px;*/
}

