* {box-sizing:border-box;}
ul {list-style-type: none;}
body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*font-family: Verdana,sans-serif;*/
    margin : 0px;
    background-color: #a8e5fe;
}

h2{
    margin-top:0px;
    padding-top:20px;
}

p {
    margin-bottom :5px;
    /*margin-top:5px;*/
}

#allDay{
    width: 25px; height:25px;
    /*float : right;*/
    margin:4px 0px 0px 0px;
    border-radius: 3px;
    border:1px; color:blue;
}

#div-list{
    margin : 5px 5%;
}

#div-title {
    height: 60px;
    padding: 0px 20px;
    background-color: #eaee9a;
    color : #ff2f42;
}

#div-date{
    width : 48%;
    float:left;
}

#div-time{
    width : 48%;
    float:right;
}

#edate, #etime{
    width : 100%;
}

input{
    height : 30px;
    border-radius : 4px;
    text-indent: 10px;
}

#div-content{
    width : 100%;
}

#div-btns{
    width : 100%;
    height: 50px;
}

#savebtn, #cancelbtn{
    width:60%;
    height:35px;
    border-radius: 4px;
    border-color: #3581d5;
    background-color: #3581d5;
    color : white;
    text-indent : 0px;
}

#cancelbtn{
    float:right;
}

#savebtn{
    float:left;
}

#homebtn{
    width:30px;height:30px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('/images/home.png');
    float:left;
    margin-top: 20px;
}

#div-calendar{
    background-color: #d8e3aa;
    padding : 0px 10px;
}

.month {
    padding: 20px 25px 5px 25px;
    width: 100%;
    color: #d34e2c;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    /*padding-top: 10px;*/
}

.month .next {
    float: right;
    /*padding-top: 10px;*/
}

.weekdays {
    color: #3581d5;
    margin: 0;
    padding: 10px 0;
    background-color: #d8e3aa;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days {
    padding: 10px 0;
    color:#3581d5;
    background-color: #d8e3aa;
    margin: 0;
}

.days li {
    cursor:pointer;
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    margin-bottom: 15px;
    font-size:18px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li {width: 13.2%;}
    /*.weekdays li, .days li {width: 13.2%;}*/
}

@media screen and (max-width: 420px) {
    /*.weekdays li, .days li {width: 12.7%;}*/
    .weekdays li {width: 12.8%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
