html {
  background: url("/images/back.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  width : 100%;
    margin:0px;
    overflow-y: scroll;
    /*width: 100%;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
  text-indent: 10px;
}

#div-email,#div-pwd, #verify, #repairPWD, #signup, #fbLogin{
    width:290px;
    height:40px;
    margin:10px auto 0px auto;
    color : white;
    background-color: #ff9179;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 5px;
}

#div-email{
    background-color: #cddff3;
    margin: 230px auto 0px auto;
    background-image: url('/images/email-icon.png');
    background-position: left center;
    background-repeat: no-repeat;
}
#div-pwd{
    background-color: #cddff3;
    background-image: url('/images/pwd-icon.png');
    background-position: left center;
    background-repeat: no-repeat;
}

#fbLogin{
    background-color: #3469af;
}

#email, #pwd {
    width : 220px;
    height: 30px;
    border:none;
    margin-left: 50px;
    text-indent: 10px;
    border-radius: 3px;
}
