html{
}
body{
    /*background: url("/images/bg.png") no-repeat top center fixed !important;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0px;
  /*background-color: #c6daf0;*/
  max-height: 100%;
  /*background-image: url("/images/bg.png");*/
}
h2{
    margin:0px;
    color: red;
}
#div-head{
	position:fixed;
	top:0px;
  height:50px;
  padding:0px;
    width: 100%;
  background-color: #eaee9a;

}

#div-father,#div-mother{
	width:50%;
	height:70px;
	float:left;
}
 #phone-modal h4{
	 text-align : center;
	 margin : 10px 0px 0px 0px;
	 
 }

#homebtn{
  height:30px;
  background-position: left center;
  background-repeat: no-repeat;
  /*background-image: url('/images/home.png');*/
  float:left;
    margin-left:10px;
    color:red;
    font-size:22px;
    margin-top:10px;
}

#div-main{
  margin:90px 5% 90px 5%;
  width:90%;height:70%;
}

.msg{
  background-color: rgba(243,243,156,0.6);
  padding:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
    box-shadow: 5px 5px 5px #888;
    margin-right:15px;
    /*opacity: 0.5;*/
}

.stime{
  font-size:10px;
  padding: 10px;
}

#msgs{
  width:100%; border:none; height:100%;
    margin-bottom:90px;
  padding : 0px;
    overflow-y: scroll;
}

#msgbox{
  text-indent: 5px;
    height: 25px;
    width:55%;
    border-radius: 5px;
    float:right;
}

#div-bottom{
  position: fixed; bottom: 0px;
  width: 90%; padding:10px 5%;
  background-color: #f3f39c;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px 5px;
    margin: 0px;
    overflow-wrap: break-word;
    /*background-color: white;*/
}

#during {
    width : 180px;
    display:none;
    padding-left:0px;
    float:right;
    background-color: white;
    margin-top:0px;
}
#during li {
    padding: 10px 5px;
    margin: 0px;
    overflow-wrap: break-word;
    background-color: white;
}

#div-to{
    height:30px;
    width:30%;
    float:left;
    margin-left:10px;
    display: none;
}
#addphoto {
    width:40px;
    height:30px;
    float:left;
    color:red;
    background: url(/images/add_photo.png) no-repeat center center;
}
#phonecall {
    width:40px;
    height:40px;
    float:left;
    color:red;
    background: url(/images/office-phone-icon.png) no-repeat center center;
}
#send{
    width:50px;
    height:25px;
    float:right;
    text-align: right;
    color:red;
    font-size: 16px;
    padding-top: 5px;
}
