html {
    background: url("/images/bg.png") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    height:100%;
      margin:0px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  text-indent: 10px;
}

h2{
  text-align: center;
}
#selectphoto{
  margin-left: auto;
  margin-right: auto;
}

#div-head, #div-foot, #div-main{
  color: #000066;
}

#div-main{
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom:130px;
  vertical-align:middle;
}

#div-head{
  height : 50px;
}

#div-foot{
  /*margin-top:-100px;*/
  height : 100px;  width:100%;
  background-color: #fafcf9;
  margin-right: 0px;
  margin-left: 0px;
  text-align:center;
    vertical-align: bottom;
    bottom: 0;
    position: fixed;
}

#div-homebtn{
  margin-left : 30px;
  margin-top : 50px;
}

#div-settingbtn{
  margin-right : 30px;
  margin-top : 50px;
}

#div-body{ min-height:100%; }
#div-main{ height:80%;}
#div-photo{width: 150px; margin-left: auto; margin-right: auto}
#photo, #openphoto{margin-left: auto; margin-right: auto}

#btnSetting{
  width: 30px;
  height: 30px;
  background-image: url("/images/setting.png");
  background-repeat: no-repeat;
  background-position:center center;
  float: right;}
#btnhome{
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("/images/home.png");
  background-repeat: no-repeat;
  background-position:center center;
  float: left;}
#btnSave{
  width:50px; height: 50px;
  margin-left: auto; margin-right: auto;
  /*background-image: url("/images/save.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position:center center;*/
}

#row{  width: 100%;
  padding-top: 15px;
  /*padding: 15px 0px 15px 0px;*/
}
#btnProfile,#btnReport,#btnPhoneCall {
  background-color: #fafcf9;
  width: 80px;
  height: 80px;
  margin-top : 7px;
  border: 0px;
}
#btnProfile {
  background-image: url("/images/profile.png");
  float: left;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position:center center;
}
#btnReport{
  background-image: url("/images/report.png");
  display:inline-block;
  background-repeat: no-repeat;
  background-position:center center;
}
#btnPhoneCall{
  background-image: url("/images/phone.png");
  float : right;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position:center center;
}
.ipt{  float: right;; width:75%}
.lbl{flot: right;}

