html {
    background: url("/images/bg.png") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  margin:0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  width : 100%;
  color: #000066;
}

input{
  text-indent : 10px;
  border-radius:5px;
}

h2 {
  text-align: center;
}
#div-homebtn{
    float:left;
    display:inline-block;
    border: none;
}
#btnhome{
    width : 30px;
    height: 30px;
    background-image: url("/images/home.png");
    background-repeat: no-repeat;
    border: none;
}
#wrape{
  width: 80%;
  padding: 5% 10% 0% 10%;
}
.head{
  /*margin-inside: 5%;*/
}
.ipt {
  height: 30px;
  width : 100%;
  border: 0px;
}
.btn{
  alignment: center;
  margin-left: 10%;
  width : 80%;
  height: 50px;
  background-color: #00b7ff;
  border-color: #00b7ff;
  color : white;
  margin-bottom: 50px;
  font-size: 16px;
}

label{
  padding-left: 20%;
}

p{
  margin-bottom : 5px;
}
